spring.application.name=CVETrackr
# ===== NVD API =====
nvd.api.base-url=https://services.nvd.nist.gov/rest/json/cves/2.0
nvd.api.results-per-page=10
nvd.api.cvss-v3-severity=CRITICAL
nvd.api.has-kev=false

# ===== PostgreSQL =====
spring.datasource.url=jdbc:postgresql://localhost:5432/YOUR_DB_NAME
spring.datasource.username=YOUR_USERNAME
spring.datasource.password=YOUR_PASSWORD

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

nvd.api.last-mod-start-date=2025-08-12T14:14:54.182Z
nvd.api.last-mod-end-date=2025-09-11T14:14:54.182Z

nvd.api.pub-start-date=
nvd.api.pub-end-date=

# Batch JDBC (facilite les insert groupés)
spring.jpa.properties.hibernate.jdbc.batch_size=50
spring.jpa.properties.hibernate.order_inserts=true
spring.jpa.properties.hibernate.order_updates=true
