spring.application.name=CVETrackr
# ===== NVD API =====
nvd.api.base-url=https://services.nvd.nist.gov/rest/json/cves/2.0
nvd.api.results-per-page=10
nvd.api.cvss-v3-severity=CRITICAL
nvd.api.has-kev=false

# ===== PostgreSQL =====
spring.datasource.url=jdbc:postgresql://localhost:5432/nvd_db
spring.datasource.username=nvd_user
spring.datasource.password=secret

# Optionnel mais pratique en dev :
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

